{% extends "layoutLoggedPages.html" %}



{% block SubExtraStyle %}
<style>
  .LoginDataRow>div {
    padding: 20px;
    background-color: #eee;
    border: solid gray;
    box-shadow: blue;
  }
</style>
{% endblock %}



{% block SubBodyData %}

<div class="container"> 
  <div  class="LoginDataRow">
    <div class="mx-auto" style="width: 80%; max-width: 600px;"  >
      <h3 style="text-align: left;">Add New Channel.</h2>
        <form id="ChannelForm">
          <div class="form-group">

            <label>Channel Name</label>
            <input type="text" autofocus class="form-control" placeholder="Channel Name" id="inputChannelName">
            
            <label>Channel Genre</label>
            <input type="text" class="form-control" placeholder="Channel Genre" id="inputChannelGenre">
          </div>

          <button class="btn btn-primary" onclick="fnAddChannel(event)">Add Channel</button>
        </form>
    </div>
  </div>
</div>

<br>
{% endblock %}