{% extends "layout.html" %}


{% block ExtraStyle %}
<style>
  .row>div {
    padding: 20px;
    background-color: #eee;
    border: dotted lightgray;
  }
</style>

<style>
  .LoginDataRow>div {
    padding: 20px;
    background-color: #eee;
    border: solid gray;
    box-shadow: blue;
  }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/chat_style.css') }}">

  {% block SubExtraStyle %}
  {% endblock %}
{% endblock %}

{% block ExtraScript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="{{ url_for('static', filename='scripts/ChannelList.js') }}"></script>

<!-- Custom SocketIO JS -->
<script src="{{ url_for('static', filename='scripts/socket.js') }}"></script>

<script id="headingtemplateChannel" type="text/x-handlebars-template">
  {% raw -%}
  <div id="collapse{{CurChannelGenere}}" class="collapse {{showdata}}" aria-labelledby="{{CurChannelGenere}}" data-parent="#ChannelDisplayList">
    <div class="card-body">
      {{#each values}}
      <p><a href="/ShowChannel/{{this.ChannelName}}" > {{ this.ChannelName }}</a></p>
      {{/each}}
    </div>
  </div>
  {%- endraw %}
</script>

<script id="headingtemplateGenre" type="text/x-handlebars-template">
  {% raw -%}
  <div class="card">
    <div class="card-header" id="{{CurChannelGenere}}">
      <h5 class="mb-0">
        <button class="btn btn-link {{collapsedcmd}}" data-toggle="collapse" data-target="#collapse{{CurChannelGenere}}" aria-expanded="{{DisplayType}}"
          aria-controls="collapse{{CurChannelGenere}}">
          {{CurChannelGenere}}
        </button>
      </h5>
    </div>

    {{{CurChannelGenereChannelsData}}}
  </div>
  {%- endraw %}
</script>





{% block SubExtraScript %}
  {% endblock %}
{% endblock %}




{% block NavigationBar %}
<div class="NavigationBar">
  <a href="{{ url_for('logout') }}" class="right" >Log Out</a>
  <a href="{{ url_for('AddChannel') }}" class="right" >Manage Channels</a>
</div>
{% endblock %}

{% block heading %}
{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}, Welcome to Flack !!!
{% endblock %}




{% block BodyData %}

<div class="container">

  <div class="row">
    <div class="col-md-3 col-sm-6 col-12">
      <div id="ChannelDisplayList"></div>
    </div>

    <div class="col-md-9 col-sm-6 col-12">
      <div class="alert alert-danger" role="alert" style="text-align: center;" id="UserErrMsg" >
      </div>
      <br>

      {% block SubBodyData %}
      {% endblock %}

    </div>
  </div>
</div>

<!-- Get username -->
<span id="get-username" >{% if current_user.is_authenticated %}{{ current_user.username }}{% endif %}</span>

<!-- Get ChannelName -->
<span id="get-channelname" >{{ channelname }}</span>




{% endblock %}