{% extends "layoutLoggedPages.html" %}






{% block SubBodyData %}
<script>
  // Set the current channel as empty.
  fnSetLastAddedChannelName("")
</script>


<b>Welcome to '<div style="display: inline;" id="ChannelNameDisplay"></div>'</b>
<script>
  document.getElementById("ChannelNameDisplay").innerHTML = fnGetCurChannelName();
</script>

<div class="container"> 
  <div  class="LoginDataRow">
    <div class="mx-auto" >
        <form id="ChannelPostForm">
          <div class="form-group">
            <textarea id="inputPost" autofocus class="form-control" spellcheck="true" placeholder="Write a new post here..."></textarea>
          </div>

          <button class="btn btn-outline-primary btn-sm" onclick="fnSendNewPost(event)" >Post message ...</button>
        </form>
    </div>
  </div>
</div>




<br>
{% endblock %}