{% extends "layoutLoggedPages.html" %}



{% block SubExtraStyle %}
<style>
  @keyframes hide {
      0% {
          opacity: 1;
          height: 100%;
          line-height: 100%;
          padding: 20px;
          margin-bottom: 10px;
      }
      75% {
          opacity: 0;
          height: 100%;
          line-height: 100%;
          padding: 20px;
          margin-bottom: 10px;
      }
      100% {
          opacity: 0;
          height: 0px;
          line-height: 0px;
          padding: 0px;
          margin-bottom: 0px;
      }
  }

  .hide  {
      float: right;
  }

  .post {
      background-color: #77dd11;
      padding: 20px;
      margin-bottom: 10px;
      animation-name: hide;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-play-state: paused;
  }

  body {
      padding-bottom: 50px;
  }
</style>
{% endblock %}




{% block SubExtraScript %}
<script id="templateChannelPost" type="text/x-handlebars-template">
  <div class="post">
    {% raw -%}
        {{ contents.PostString }}
    {%- endraw %}
    <button class="hide">Hide</button>
</div>
</script>
{% endblock %}




{% block SubBodyData %}
<script>
  // Set the current channel as empty.
  fnSetLastAddedChannelName("")
</script>


<b>Welcome to '<div style="display: inline;" id="ChannelNameDisplay"></div>'</b>
<script>
  document.getElementById("ChannelNameDisplay").innerHTML = fnGetCurChannelName();
</script>

<div class="container"> 
  <div  class="LoginDataRow">
    <div class="mx-auto" >
        <form id="ChannelPostForm">
          <div class="form-group">
            <textarea id="inputPost" autofocus class="form-control" spellcheck="true" placeholder="Write a new post here..."></textarea>
          </div>

          <button class="btn btn-outline-primary btn-sm" onclick="fnSendNewPost(event)" >Post message ...</button>
        </form>
    </div>
  </div>
</div>
<br>

<div id="posts">
</div>


{% endblock %}